@keyframes animaSocialMedia {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-image: url(../img/SomosDarwinFondo.png);
	background-size: initial;
	background-repeat: repeat;
	font-family: 'Quicksand', sans-serif;
}
.header__logo__imagen {
	width: 80px;
	height: 80px;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: 20px 200px 20px 35px;
	z-index: 1;
	transition: transform 3s;
	&:hover {
		transform: rotateY(360deg);
	}
}
.header__logo__texto {
	font-weight: 400;
	font-size: 3rem;
	color: #009cad;
	margin-top: 40px;
	transform: translate(130px);
}
header {
	nav {
		ul {
			li {
				a {
					text-decoration: none;
					font-size: 1.75rem;
					font-weight: 600;
					color: #3D5A80;
					transition: color 1s;
					&:hover {
						color: #009cad;
					}
				}
			}
		}
	}
}
p {
	color: #4a4a4a;
	font-size: 1.5rem;
	margin: 10px 10px 10px 10px;
}
.intro__imagen {
	background-image: url(../img/h1-nosotros3.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.intro__texto {
	font-family: 'Sansita Swashed', cursive;
	font-weight: 600;
	color: white;
	font-size: 5rem;
	text-align: center;
	padding: 200px 0;
	text-shadow: 0px 0px 8px #303030;
}
.intro__parrafo {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	justify-content: center;
	font-style: italic;
	font-weight: 300;
	font-size: 2rem;
	text-align: center;
	padding: 30px 100px 20px 100px;
}
.principal {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
}
.principal__imagen {
	height: 300px;
	margin: 50px 50px 50px 50px;
	padding: 5px;
	border-top: solid 0.5px #dbdbdb;
	border-bottom: solid 0.5px #dbdbdb;
	border-left: solid 0.5px #dbdbdb;
	border-right: solid 0.5px #dbdbdb;
	background-color: white;
	box-shadow: 0px 0px 7px #dbdbdb;
}
.principal__titulo {
	font-family: 'Sansita Swashed', cursive;
	font-weight: 600;
	color: #009cad;
	font-size: 2.5rem;
}
.principal__parrafo {
	width: 200px;
	color: #4a4a4a;
	font-size: 1.5rem;
	margin: 10px 10px 10px 10px;
}
.footer {
	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
	flex-basis: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-center;
	align-content: space-between;
	padding: 15px 15px 15px 15px;
	bottom: 0;
}
.footer__titulo {
	font-family: 'Sansita Swashed', cursive;
	font-weight: 500;
	color: #d1495b;
	font-size: 2rem;
	margin: 10px;
	padding: 0;
}
.footer__parrafo {
	max-width: 200px;
	font-size: 1.25rem;
}
.footer__redesSociales {
	flex-basis: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-center;
}
.footer__links {
	color: #000e54;
	font-size: 1.5rem;
	text-decoration: none;
	margin-right: 25px;
}
.footer__animacionFB {
	height: 20px;
	animation-name: animaSocialMedia;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}
.footer__animacionIG {
	height: 20px;
	animation-name: animaSocialMedia;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-delay: 1.5s;
}
.footer__animacionTW {
	height: 20px;
	animation-name: animaSocialMedia;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1.5s;
}
.footer__animacionLI {
	height: 20px;
	animation-name: animaSocialMedia;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}
.intro__imagen--QueHacemos {
	background-image: url(../img/h1-quehacemos2.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.QueHacemos {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.intro__imagen--Portfolio {
	background-image: url(../img/h1-portfolio2.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel {
	width: 720px;
	height: 405px;
}
.portfolio {
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 120px;
}
.portfolio__imagen {
	height: 150px;
	padding: 3px;
	margin: 10px;
	border-top: solid 0.5px #dbdbdb;
	border-bottom: solid 0.5px #dbdbdb;
	border-left: solid 0.5px #dbdbdb;
	border-right: solid 0.5px #dbdbdb;
	background-color: white;
	box-shadow: 0px 0px 7px #dbdbdb;
	transition: opacity 2s;
	&:hover {
		opacity: 0.25;
	}
}
.intro__imagen--Marcas {
	background-image: url(../img/h1-marcas2.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.marcas {
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.marcas__Imagen {
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-top: solid 0.5px #dbdbdb;
	border-bottom: solid 0.5px #dbdbdb;
	border-left: solid 0.5px #dbdbdb;
	border-right: solid 0.5px #dbdbdb;
	background-color: white;
	box-shadow: 0px 0px 7px #dbdbdb;
}
.intro__imagen--Blog {
	background-image: url(../img/h1-blog2.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.intro__imagen--Contacto {
	background-image: url(../img/h1-contacto2.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.contacto {
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.contacto__Titulo {
	font-family: 'Sansita Swashed', cursive;
	font-weight: 600;
	color: #009cad;
	font-size: 2.5rem;
	text-align: left;
	margin-bottom: 5px;
}
.contacto__Mapa {
	padding: 10px;
	border-top: solid 0.5px #dbdbdb;
	border-bottom: solid 0.5px #dbdbdb;
	border-left: solid 0.5px #dbdbdb;
	border-right: solid 0.5px #dbdbdb;
	background-color: white;
	box-shadow: 0px 0px 7px #dbdbdb;
}
.contacto__Formulario {
	background-color: #cbf3f0;
	border: solid 1px #2ec4b6;
	margin-top: 20px;
	padding: 20px;
	font-size: 1.5rem;
	max-width: 600px;
	box-shadow: 0px 0px 7px #dbdbdb;
}
.contacto__Subtitulo {
	text-align: center;
}
